extends layout 

- if (user.member) {
  const btnText = "You're a Member"
  const btnStyle = "green"
} else {
  const btnText = "You're not a member"
  const btnStyle = "red"
}

block content 
form(action="" method="post")
  .become-member-input
    input.become-member-btn(type="button" name="member_status" (click)="this.form.submit()" style=`background-color: ${btnStyle}`) {btnText}