doctype html
html
  head
    title Member's Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Member's Only
      div.auth-btns
        button.login(type="button") Log In
        button.sign-up(type="button") Sign Up
    block content
