extends layout 

block content 
  
  form.auth-form(action="" method="POST")
    h1 Sign Up
    .form-group
      label(for="user-name") Display name:
      input#display-name.form-control(type="text" placeholder="Display name" name="display_name" require="true")
    .form-group 
      label(for="email") Email:
      input#email.form-control(type="text", placeholder="Email" name="email" require = "true")
    .form-group
      label(for="password") Password:
      input#password.form-control(type="password" placeholder="Password" name="password" require = "true")
    .form-group 
      label(for="confirm-password") Confirm Password: 
      input#confirm-password.form-control(type="password" placeholder="Confirm password" name="confirm_password" require="true")
    button.btn.sign-up Sign Up

